<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        
        <!-- Conexion a la base de datos MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_sfi_tap</property>
        <property name="connection.username">capiedrahita1</property>
        <property name="connection.password">C@ps*7414</property>
            
        <!-- Tamaño del grupo de conexiones -->
        <property name="connection.pool_size">1</property>
        
        <!-- Dialecto SQL para MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Mostrar las consultas SQL en la consola -->
        <property name="show_sql">true</property>
        
        <!-- Usar un contexto de sesión basado en hilos -->
        <property name="current_session_context_class">thread</property>
                
    </session-factory>
</hibernate-configuration>
